body {
    background-color: #e6f6ff;
    font-family: Helvetica Now Text;
    color: yellow;
}

h2 {
    text-align: center;
    color: white;
}

p {
    font-size: 18px;
    text-align: center;
    color: black;
}

.meineKlasse {
    font-size: 14px;
    color:coral;
}

img {
    width: 300px;
}

.video {
    width: 400px;
    height: 220px
}

.myDiv {
    border: 1px outset rgb(130, 10, 10);
    background-color: rgb(128, 14, 14);    
    text-align: center;
    width:300px;
    margin:0 auto;
    padding: 1rem;
  margin-bottom: 1rem;
}

  .tennisimage {
 
    height: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .container{
    display: flex;
    gap: 20px
  }

  .textabschnitt {
    width: 300px;
  }